<!DOCTYPE html>
<html>
  <head>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="bootstrap" />
    <link rel="stylesheet" href="style.css" />   
  </head>
  <body>
    <div class="container">
  <div class="jumbotron">
    <h2>Temperature Unit Converter</h2>
    <form>
      <div class="form-group">
        <label for="number">Celcius:</label>
        <input [(ngModel)]="celcius" name="celcius" type="text" (keyup.enter) = "convertCelcius()" class="form-control"  placeholder="Enter a Number">
      </div>
      <div class="form-group">
        <label for="number">Fahrenheit:</label>
        <input [(ngModel)]="fahrenheit" name="fahrenheit" type="text" (keyup.enter) = "convertFahrenheit()" class="form-control"  placeholder="Enter a Number">
      </div>
    </form>
    <h4>Total Conversions: {{count}}</h4> 
  </div>
</div>
  </body>
</html>
