<!DOCTYPE html>
<html>
  <head>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="bootstrap" />
    <link rel="stylesheet" href="style.css" />   
  </head>
  <body>
    <div class="container">
  <div class="jumbotron">
    <h1>BMI Calculator</h1>
    <h2>Enter your Weight</h2>
    <div class="row">
      <div class="col-sm-4">
          <div class="form-group">
            <label for="stone">Stone:</label>
            <input (keyup) = "convertPounds()" type="number" class="form-control" [(ngModel)]="stone">
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group">
            <label for="pounds">Pounds:</label>
            <input (keyup) = "convertPounds()" type="number" class="form-control" [(ngModel)]="pounds">
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group">
            <label for="kg">or KGs:</label>
            <input (keyup) = "convertKilos()" type="number" class="form-control" [(ngModel)]="kg">
          </div>
      </div>
    </div>

    <h2>And Your Height</h2>
    <div class="row">
      <div class="col-sm-4">
          <div class="form-group">
            <label for="feet">Feet:</label>
            <input (keyup) = "convertInches()" type="number" class="form-control" [(ngModel)]="feet">
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group">
            <label for="inches">Inches:</label>
            <input (keyup) = "convertInches()" type="number" class="form-control" [(ngModel)]="inches">
          </div>
      </div>
      <div class="col-sm-4">
          <div class="form-group">
            <label for="metres">or Meters:</label>
            <input (keyup) = "convertMetres()" type="number" class="form-control" [(ngModel)]="metres">
          </div>
      </div>
    </div>
    <div class="col-md-12 text-center">
        <button type="button" (click)="validateInput()" class="btn btn-primary">Caculate BMI</button>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
          <h4>Enter your weight either in stones/ pounds or kilograms and your height either in feet/ inches or metres.</h4> 
      </div>
   </div>
   <div class="row">
      <div class="col-md-12 text-center">
          <p>{{range}}</p> 
      </div>
   </div>
  </div>
</div>
  </body>
</html>

