<!DOCTYPE html>
<html>
  <head>
    <script data-require="jquery@*" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="bootstrap" />
    <link rel="stylesheet" href="style.css" />   
  </head>
  <body>
    <div class="container">
    <div class="jumbotron">
      <h2>BMI calculator</h2>
      <h2>Enter your Weight</h2>
      <form class="form-horizontal" name="convert">
        <div class="form-group">
          <label class="control-label col-sm-2" for="Stone">Stone:</label>
          <div class="col-sm-2">
				 <input type="text"  id="stone" class="form-control" placeholder="Stone">
          </div>
          <label class="control-label col-sm-2" for="Pounds">Pounds:</label>
                    <div class="col-sm-2">
				 <input type="text"  id="pound" class="form-control" placeholder="Pounds">
          </div>
          <label class="control-label col-sm-2" for="KG">or KG's:</label>
                    <div class="col-sm-2">
				 <input type="text"  id="KG" class="form-control" placeholder="KG's">
          </div>
        </div>
        <h2>And your Height</h2>
        <div class="form-group">
          <label class="control-label col-sm-2" for="Feet">Feet:</label>
          <div class="col-sm-2">
				 <input type="text" id="feet" class="form-control" placeholder="Feet:">
          </div>
          <label class="control-label col-sm-2" for="inches">Inches:</label>
                    <div class="col-sm-2">
				 <input type="text"  id="inches" class="form-control" placeholder="Inches:">
          </div>
          <label class="control-label col-sm-2" for="metres">Metres:</label>
                    <div class="col-sm-2">
				 <input type="text"  id="metres" class="form-control" placeholder="Metres:">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
		  <h4>Enter your weight either in stone/pounds or kilograms and your height in feet/inches or metres. </h4>             
          </div>
          <div class="col-sm-offset-2 col-sm-10">
			<h4>Result:</h4>             
          </div>
        </div>
       </form>
      </div>
    </div>
  </body>
</html>

